# CH6-1:DataFrame loc,iloc
### DataFrame比Numpyndarray(element-wise)提供資料統整的功能，通常為二維資料

### 橫的為列(索引index)，直的為欄(column)

In [1]:
import numpy as np
import pandas as pd 
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns = list ('ABCD'))
frame

          A         B         C         D
a  0.721853  0.519032  0.905460  0.383149
b  0.643328  0.431230  0.668280  0.661540
c  0.615199  0.115021  0.961356  0.596139
d  0.121122  0.801448  0.736911  0.349168

# loc用欄位來找出DataFrame的資料
# iloc用索引來定位DataFrame的資料

In [2]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.525375  0.466683  0.818002  0.497499
std    0.273255  0.282684  0.138072  0.154615
min    0.121122  0.115021  0.668280  0.349168
25%    0.491679  0.352178  0.719753  0.374654
50%    0.629263  0.475131  0.821185  0.489644
75%    0.662959  0.589636  0.919434  0.612489
max    0.721853  0.801448  0.961356  0.661540

In [7]:
frame.loc['a','A']# (列,欄)

0.7218528097485596

In [11]:
# 取前兩列之資料
frame.loc['a':'b',:]

          A         B        C         D
a  0.721853  0.519032  0.90546  0.383149
b  0.643328  0.431230  0.66828  0.661540

In [13]:
# 取前兩欄之資料
frame.loc[:,'A':'B']

          A         B
a  0.721853  0.519032
b  0.643328  0.431230
c  0.615199  0.115021
d  0.121122  0.801448

In [17]:
# 取特殊列、欄之資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','B']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.721853  0.519032  0.905460  0.383149
c  0.615199  0.115021  0.961356  0.596139
          A         B
a  0.721853  0.519032
b  0.643328  0.431230
c  0.615199  0.115021
d  0.121122  0.801448
          A         D
a  0.721853  0.383149
d  0.121122  0.349168

# iloc是利用列索引與欄索引進行資料查找，都是從零開始

In [18]:
frame.iloc[0,0]

0.7218528097485596

In [24]:
frame.iloc[0:2,:]

          A         B        C         D
a  0.721853  0.519032  0.90546  0.383149
b  0.643328  0.431230  0.66828  0.661540

In [26]:
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.721853  0.519032  0.905460  0.383149
c  0.615199  0.115021  0.961356  0.596139
          A         C
a  0.721853  0.905460
b  0.643328  0.668280
c  0.615199  0.961356
d  0.121122  0.736911
          A         D
a  0.721853  0.383149
d  0.121122  0.349168

In [28]:
import numpy as np
import pandas as pd 
groups = ["modern web","devops",np.nan,"big data","security","自我挑戰組"]
ironman = [59,9,19,14,6,np.nan]
ironman_dict = {"groups":groups,"ironman":ironman}
ironman_df = pd.DataFrame(ironman_dict)
print(ironman_df.loc[:,"groups"].isnull())
print(ironman_df.loc[:,"ironman"].notnull())

0    False
1    False
2    False
3    False
4    False
5    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironman, dtype: bool

In [33]:
print(ironman_df.groups[ironman_df.loc[:,"groups"].isnull()])
print(ironman_df.ironman[ironman_df.loc[:,"groups"].isnull()])

Series([], Name: groups, dtype: object)
Series([], Name: ironman, dtype: float64)

In [34]:
print(ironman_df)
ironman_df_dropped = ironman_df.dropna()#刪除遺失值
print(ironman_df_dropped)
ironman_df_filled = ironman_df.fillna(0)
print(ironman_df_filled)
ironman_df_fillvalue = ironman_df.fillna({"groups":"cloud","ironman":71})
print(ironman_df_fillvalue)

       groups  ironman
0  modern web     59.0
1      devops      9.0
2       cloud     19.0
3    big data     14.0
4    security      6.0
5       自我挑戰組      NaN
       groups  ironman
0  modern web     59.0
1      devops      9.0
2       cloud     19.0
3    big data     14.0
4    security      6.0
       groups  ironman
0  modern web     59.0
1      devops      9.0
2       cloud     19.0
3    big data     14.0
4    security      6.0
5       自我挑戰組      0.0
       groups  ironman
0  modern web     59.0
1      devops      9.0
2       cloud     19.0
3    big data     14.0
4    security      6.0
5       自我挑戰組     71.0