In [ ]:
# Pandas Data Frame
## ●Pandas是Python常用的數據分析函式庫，2009年起開源，提供高效能、簡易使用的資料格式Data Frame讓使用者可以快速操作及分析資料。
## ●在異質數據

In [2]:
import pandas as pd

In [5]:
groups = ["modern web","devops","cloud","big data","security","自我挑戰組"]
ironman = [59,9,19,14,6,77]
ironman_dict = {"groups":groups,"ironman":ironman}
ironman_df = pd.DataFrame(ironman_dict)
ironman_df

       groups  ironman
0  modern web       59
1      devops        9
2       cloud       19
3    big data       14
4    security        6
5       自我挑戰組       77

In [6]:
print(ironman_df.sum())# 計算總人數
print(ironman_df.mean())# 計算平均值人數
print(ironman_df.median())# 計算中位數
print(ironman_df.describe())# 列出所有性統計

groups     modern webdevopscloudbig datasecurity自我挑戰組
ironman                                           184
dtype: object
ironman    30.666667
dtype: float64
ironman    16.5
dtype: float64
         ironman
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [11]:
import numpy as np
groups = ["modern web","devops",np.nan,"big data","security","自我挑戰組"]
ironman = [59,9,19,14,6,np.nan]
ironman_dict = {"groups":groups,"ironman":ironman}
ironman_df = pd.DataFrame(ironman_dict)
print(ironman_df)
print("------")
print(ironman_df.loc[:,"groups"].isnull())
print("------")
print(ironman_df.loc[:,"ironman"].notnull())

       groups  ironman
0  modern web     59.0
1      devops      9.0
2         NaN     19.0
3    big data     14.0
4    security      6.0
5       自我挑戰組      NaN
------
0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
------
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironman, dtype: bool

In [13]:
ironman_df.groups[ironman_df.loc[:,"groups"].isnull()] = "迪奧布蘭度"
ironman_df.ironman[ironman_df.loc[:,"ironman"].notnull()] +=10
ironman_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       groups  ironman
0  modern web     69.0
1      devops     19.0
2       迪奧布蘭度     29.0
3    big data     24.0
4    security     16.0
5       自我挑戰組      NaN